.gamePage {
  padding: 0;
  overflow: hidden;
}
.game-page-title {
  padding-top: 60px;
}



// Games Cards Styling
.gameCard-container{
  max-width: 90rem;
  .gameCard{
    background-color: lightblue;
    border-radius: 5px !important;
    margin-bottom: 2rem;
    margin-top: 1rem;
    position: relative;
    .slider-img{
      height: 450px;
      width: 100%;
      align-content: center;
      border-radius: 5px !important;
    }
    .gamePage-cardBody {
      text-align: left;
      padding: 20px;
      padding-top: 1.5rem;
    }
    .gamePage-overlay{
      text-align: left;
      padding: 20px;
      padding-top: 1.5rem;
      height: 170px;
      background-color: rgba(0, 0, 0, 0.65);
      border-bottom-left-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
      position: absolute;
      color: white;
      top: 280px;
      left:0;
      padding-left: 3rem; 
    }
    .logoimage {
      position: absolute;
      max-width: 120px;
      max-height: 120px;
      top: -60px;
      right: 220px;
      
    }
    .ios-btn,
    .play-btn
     {
      position: absolute;
      right: 200px;
      top: 120px;
      height: 30px;
      width: 90px;
      border-radius: 18px;
      text-align: center;
      padding: 0;
      font-size: 14px;
    }
    .ios-btn{
      right: 190px;
      top: 120px;
    }
    .play-btn{
      right: 290px;
      top: 120px;
    }
  

//////////////////////// Media Queries ///////////////
    @media  (max-width: 1050px) {
        .logoimage {
          position: absolute;
          right: 50px;
          top: -60px;
        } 
        .ios-btn {
          position: absolute;
          right: 20px;
          top: 120px;
        }
        .play-btn {
          position: absolute;
          right: 120px;
          top: 120px;
        }
    }

    @media  (max-width: 910px) {
      .logoimage {
        position: absolute;
        right: 44%;
        top: -60px;
      } 
    }

    @media  (max-width: 600px) {
      .logoimage {
        position: absolute;
        right: 20px;
        top: -60px;
      } 
     
    }

    @media  (max-width: 455px) {

      .gamePage-overlay {
        padding-left: 10px; 
      }
    }
    
    @media  (max-width: 418px) {
      .logoimage {
        max-width: 95px;
        max-height: 95px;
        position: absolute;
        right: 20px;
        top: -48.5px;
      }
      .ios-btn {
        position: absolute;
        right: 10px;
        top: 134px;
      }
      .play-btn {
        position: absolute;
        right: 105px;
        top: 134px;
      }

    }
    @media  (max-width: 334px) {
      .ios-btn,
      .play-btn  {
        height: 23px;
        width: 73px;
        border-radius: 18px;
        font-size: 13px;
     }
     .ios-btn{
      position: absolute;
      right: 8px;
      top: 140px;
     }
     .play-btn {
       position: absolute;
       right: 85px;
       top: 140px;
     }
   }
  }
}




