
.welNav-feature{
    color: red !important;
 
}
  .welHeader{
      margin-top: 2rem;
      width: 15rem;
      padding: .5rem;
  
  }
  .welbtns{
    width: 7.5rem;
    margin-top: 2rem;
    padding: .5rem;
    margin-right: .5rem;
  }
  .welCover{
      // margin-top: 10rem;

  }