/* PARALLAX */

.keyart, .keyart_layer {
	height: 950px;
	/* width: 40%; */
	left: 0;
}

#parallax {
	display: none;
}
#nonparallax {
	display: block;
}

#nonparallax {
	background-image: url('../assets/Games/mobile-version.png');
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.keyart {
	position: relative;
	z-index: 10;

}

.keyart_layer {
	background-position: bottom center;
    /* background-size: auto 1038px; */
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
	background-size: cover;
	height: 1038px;
}
.keyart_layer.parallax {
	position: fixed;
}
	#keyart-0 {
		/* background-image: url('../assets/images/parallax/parallax0.png'); */
		/* background-color: #ffaf1b; */
	}
	 /* #keyart-1 {
		background-image: url('../assets/Newfolder/8.png');
	} 
	#keyart-2 {
		background-image: url('../assets/Newfolder/7.png');
	}
	#keyart-3 {
		background-image: url('../assets/Newfolder/6.png');
	} 
	 #keyart-4 {
		background-image: url('../assets/Newfolder/05.png');
	} */
	#keyart-5 {
		background-image: url('../assets/img/04.png');
	}
	#keyart-6 {
		background-image: url('../assets/img/03.png');
	}
	 #keyart-7 {
		background-image: url('../assets/img/02.png');
	} 
	#keyart-8 {
		background-image: url('../assets/img/01.png');
	}
	#keyart-scrim {
		/* background-color: #ffaf00; */
		opacity: 0;
	}
#main{
	min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    position: relative;
	background-color: #080821;


}
#maincontain {
    background-color: #080821;
    position: absolute;
	z-index: 98;
	width: 100%;
	/* height: 1590px; */
	overflow: hidden;
}
/* @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ 
   	#keyart-0 {
		background-image: url('../assets/images/parallax/parallax0@2x.png');
		background-color: #ffaf1b;
	
	}
	#keyart-1 {
		background-image: url('../assets/images/parallax/parallax1@2x.png');
	}
	#keyart-2 {
		background-image: url('../assets/images/parallax/parallax2@2x.png');
	}
	#keyart-3 {
		background-image: url('../assets/images/parallax/parallax3@2x.png');
	}
	#keyart-4 {
		background-image: url('../assets/images/parallax/parallax4@2x.png');
	}
	#keyart-5 {
		background-image: url('../assets/images/parallax/parallax5@2x.png');
	}
	#keyart-6 {
		background-image: url('../assets/images/parallax/parallax6@2x.png');
	}
	#keyart-7 {
		background-image: url('../assets/images/parallax/parallax2@2x.png');
	}
	#keyart-8 {
		background-image: url('../assets/images/parallax/parallax8@2x.png');
	}
} */
@media (min-width: 601px) {

	#nonparallax {
		display: none;
	}
	#parallax {
		display: block;
	}

}
@media (max-width: 600px) {

	/* #nonparallax {
		display: block;
	} */
	#parallax {
		display: none;
	}

	#main {
		padding-top: 70px;
	}

	.section.copyright p {
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 1px;
	}
	.section.companylinks .companies li h1 {
		margin: 20px;
	}
}


@media only screen and (max-device-width: 450px) {



	.section.buy h2 {
		font-size: 22px;
		letter-spacing: 3px;
		font-weight: 700;
		line-height: 28px;
	}
	.section.buy h2.banner span {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.withxbone .section.buy h2.banner span {
		padding-top: 6px;
		padding-bottom: 8px;
	}

	.columntext p {
		font-size: 23px;
	}

	.section.pressquote.big h2 {
		font-size: 28px;
		letter-spacing: 1px;
	}
	.section.pressquote.big h3 {
		font-size: 16px;
	}

	.section.screenshots .thumbnails li {
		opacity: 1;
	}

	.supportlinks.smalllinks li h4 {
		letter-spacing: 1px;
	}

	.section.copyright {
		margin-top: 60px;
	}
	.section.copyright p {
		font-size: 10px;
		line-height: 16px;
		letter-spacing: 1px;
	}
	ul.awards {
		display: none;
	}







/* PARALLAX */

	.keyart, .keyart_layer {
		height: 550px;
	}

	.keyart_layer {
		position: absolute;
		background-size: auto 600px;
	}
}